<!DOCTYPE html>
<html>

<body>

    <h1>Show a file-select field:</h1>

    <h3>Show a file-select field which allows only one file to be chosen:</h3>
    <form action="/action" method="POST" enctype="multipart/form-data">
        Select a file: <input type="file"  name="image" id="image"><br><br>
        name: <input type="text" name="name"><br><br>
        <input type="submit">
    </form>


</body>

</html>