<form action="/signup" method="POST">

    Email:<input type="text" name="email">
    <br>
    <hr>
    content: <input type="text" name="content">
    <br>
    <hr>
    <button type="submit">Submit</button>
</form>